
<!DOCTYPE html>
<html lang="tr-TR">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
	body {
		background: #76b852;
		background: -webkit-linear-gradient(to right, #8DC26F, #76b852);
		background: linear-gradient(to right, #8DC26F, #76b852);




		font-family: 'Roboto', sans-serif;
		color: white;
		font-size: 300%;
	}

	@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
</style>

<body>
	<center>
		<div id="logo">
			<h1 style="user-drag:none; user-select:none;">Minecraft Server</h1>
			<img style="height:70px; " src="./static/tenor.gif"><br>
            Active server IP:
            <br>
            <a style="color:red; cursor:pointer; "> 
              {{ ipadress }}
 </a><br>
            <a style="color:palegreen">MC Version: 1.16.5</a>
            <br>
            (Ip addresses change every 4 hours, don't worry, your items, structures stay the same)
        </div>
    </center>
</body>
</html>
